<h1>{{ .Title }}</h1>

<div>
	<h2>Torrentfile</h2>

	<div>
		<label>Location</label>
		<div>{{ .Torrentfile.Location }}</div>
	</div>

	<div>
		<label>Downloaded</label>
		<div>{{ .Torrentfile.IsDownloaded }}</div>
	</div>
</div>
